@media (max-width: 992px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 770px) {
  body {
    padding: 4rem 1.5rem 2rem;
  }

  .heading {
    width: 20rem;
  }
  .heading h1 {
    font-size: 1.64rem;
  }
  .heading p {
    font-size: 0.93rem;
  }

  .card {
    display: block;
    width: 20rem;
    height: fit-content;
  }
  .card .inner-card {
    height: 12rem;
    margin-bottom: 2rem;
  }
  .card .inner-card .card-heading {
    font-size: 1.2rem;
  }
  .card .inner-card p {
    font-size: 0.8rem;
  }
}
